// ?xml version="1.0" encoding="UTF-8" standalone="no"?
svg(xmlns:svg="http://www.w3.org/2000/svg", xmlns="http://www.w3.org/2000/svg", width="80", height="80", viewBox="0 0 21.166666 21.166667", version="1.1")
  g
    path(style="fill:inherit;fill-opacity:1;fill-rule:evenodd;", d="M 6.0476,1.5118665 1.5119,7.5595666 v 6.0476004 l 4.5357,6.0476 h 6.0476 l -7.5595,-9.0714 7.5595,-9.0715005 z")
    g
      path(style="fill:inherit;fill-opacity:1;", d="m 19.6548,19.654767 c -0.476949,-1.258798 -1.606772,-2.125052 -2.804919,-2.651946 -1.833143,-0.905176 -3.928741,-1.504263 -5.31103,-3.104603 -0.962541,-1.036229 -1.372037,-2.499343 -1.183556,-3.891013 0.242175,-2.2358474 1.878274,-4.1743674 3.949626,-4.9808803 1.712957,-0.6873751 3.65634,-0.6363842 5.404232,-0.104445 -0.04663,1.296865 -0.057,2.594674 -0.05401,3.8922744 -1.268739,-0.5483806 -2.815803,-0.8454501 -4.106117,-0.2039986 -1.031217,0.4989633 -1.551076,1.8632665 -1.002803,2.8931695 0.614151,0.912363 1.750792,1.190677 2.700535,1.619845 0.822554,0.339657 1.634193,0.706064 2.432904,1.098556 -0.0297,1.8108 -0.0087,3.622098 -0.02486,5.433041 z")