@include critical {
    section.about {
        @include margin-bottom(4);
        a {
            @include margin-left(.5);
        }
    }
}

@include non-critical {
    #sprd-main {
        --sprd-main1: var(--color-background);
        --sprd-main2: var(--color-primary);
        --sprd-main3: var(--color-text);
        --sprd-sub2: var(--color-background-secondary);
        --sprd-sub3: var(--color-text-secondary);

        @extend %font--base,
            %font--body;

        background-color: var(--color-background) !important;
        color: var(--color-text) !important;

        h1, h2, .sprd__caption, .sprd-startpage-teaser__subcaption {
            font-family: get-font-family(body) !important;
            font-weight: 666 !important;
            color: var(--color-text) !important;
        }
        #sprd-header-container {
            display: block;
        }

        .customPageBackground, .sprd-bg-m1 {
            background-color: var(--color-background) !important;
            color: var(--color-text) !important;
        }
        .sprd-info-footer {
            display: none;
        }
        .sprd-service-footer {
            border-top: 2px solid var(--color-background-secondary);
        }
    }
}