$settings: (
    breakpoint: (
        mobile: (max-width: 700px),
        desktop: (min-width: 701px)
    ),

    layout: (
        header-height: 100px,
        form-width: 700px
    ),

    grid: (
        num-cols: 12,
        gutter: 4rem,
        max-width: 1400px
    ),

    color: (
        text:  #fffefe,
        text-secondary: #eee,
        background: #555,
        background-secondary: #333,


        primary:#bf5fbf,
        secondary:  #77bb66,
        tertiary: #BF9F73,

        success: #218A49,
        error: #8A332F
    ),

    rem-height: 10px,
    rem-height-mobile: 8px,

    font: (
        family: (
            body: "'Mulish', sans-serif",
            heading: "'Mulish', sans-serif",
            monospace: "monospace"
        ),
        style: (
            normal: (
                weight: 333,
                style: 'normal'
            ),
            bold: (
                weight: 666,
                style: 'normal'
            )
        ),
        size: (
            base: 2, // * 1rem
            large: 3,
            x-large: 4,
            xx-large: 5,
            xxx-large: 6,
            small: 1.75,
            x-small: 1.5,
            xx-small: 1.25,
            xxx-small: 1
        ),
        line-height: (
            base: 2.5 // * 1rem
        )
    )
);


